fieldset {
    max-width: 300px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

thead th:nth-child(1) { width: 250px; } /* domain */
thead th:nth-child(2) { width: 100px; } /* path */
thead th:nth-child(3) { width: 200px; } /* name */
thead th:nth-child(4) { width: 100px; } /* expiration */
thead th:nth-child(5) { width: 100%; } /* value */

th {
    background-color: lightgray;
}

th[id] {
    cursor: pointer;
}

th.sort:after {
    content: " ▲";
}

th,
td {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid lightgray;
}

tr.google-analytics, tr.hotjar {
    background-color: lightyellow;
}

tr.uid {
    background-color: #ECF8F2;
}

/* tr.json {
    background-color: #E9FAFC;
} */

.hidden {
    display: none;
}
